# Node Environment
NODE_ENV=development

# Server Port
PORT=5333

# MongoDB
MONGODB_URL=mongodb://localhost:27017/taskforge

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# JWT
JWT_ACCESS_SECRET=your_access_secret_key_here
JWT_ACCESS_EXPIRE=1d
JWT_REFRESH_SECRET=your_refresh_secret_key_here
JWT_REFRESH_EXPIRE=7d

# Super Admin
SUPERADMINEMAIL=admin@example.com
SUPERADMINPASSWORD=admin123

# Mail (Optional)
# SMTP_HOST=smtp.example.com
# SMTP_PORT=587
# SMTP_USER=your-email@example.com
# SMTP_PASS=your-email-password
